/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000; /* Rich Black */
  color: #DCDCDC; /* Off-White */
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* Home Page Container */
.home-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #2C2C2C; /* Dark Gray */
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.home-header {
  text-align: center;
  margin-bottom: 3rem;
  background-color: #111; /* Rich Black */
  color: #859997; /* Accent Color */
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.home-header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-header p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* About Us Section */
.home-intro {
  text-align: center;
  margin-bottom: 3rem;
}

.home-intro h2 {
  font-size: 2.8rem;
  color: #DCDCDC; /* Off-White */
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.home-intro p {
  font-size: 1.1rem;
  color: #A6A6A6; /* Light Gray */
  line-height: 1.8;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Features Section */
.home-features {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
}

.feature {
  width: 32%;
  background-color: #5A5A5A; /* Mid Gray */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.feature:hover {
  transform: translateY(-5px);
}

.feature h3 {
  font-size: 1.8rem;
  color: #81a39f; /* Accent Color */
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.feature p {
  font-size: 1rem;
  color: #DCDCDC; /* Off-White */
  line-height: 1.6;
}

/* Contact Section */
.home-contact {
  text-align: center;
  background-color: #111; /* Rich Black */
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  color: #00dfc4; /* Accent Color */
}

.home-contact h2 {
  font-size: 2.5rem;
  color: #DCDCDC; /* Off-White */
  margin-bottom: 1rem;
}

.home-contact p {
  font-size: 1.1rem;
  color: #A6A6A6; /* Light Gray */
  line-height: 1.6;
  margin-bottom: 2rem;
}

.home-contact button {
  background-color: #829b98; /* Accent Color */
  color: #111; /* Rich Black */
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 600;
}

.home-contact button:hover {
  background-color: #9fc1c4; /* Darker Accent Color */
  transform: translateY(-3px);
}


.image-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  margin: 0 auto 20px auto; /* center the grid */
}


.home-image {
  width: 100%;/* or whatever size fits your layout */
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .home-features {
      flex-direction: column;
      gap: 1.5rem;
  }

  .feature {
      width: 100%;
  }
}

@media (max-width: 768px) {
  .home-header h1 {
      font-size: 2.5rem;
  }

  .home-intro h2 {
      font-size: 2.2rem;
  }

  .feature {
      width: 100%;
  }
  .image-row {
    grid-template-columns: 1fr;
  }
  .home-image {
    width: 100%;
    height: auto;
  }
}
